
$header-and-footer-height: 6.25rem;

$primary-color: #94002d;

$btn-main-color: #4fb233;
$btn-main-color-hover: #3d9125;
$btn-cancel-color: #e1e6e6;
$btn-cancel-color-hover: #c7c9c9;

$el-input-height: 3.125rem;

$header-height: $header-and-footer-height;

$footer-height: $header-and-footer-height;
